---
import "../styles/globals.css";

interface Props {
  title: string;
  lang: "it" | "en";
  pagePath?: string;
}

const { title, lang, pagePath } = Astro.props;
const { version } = await import("../../package.json");
const date = new Date();
---

<!doctype html>
<html {lang} class="h-full bg-gray-950 text-white">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Notes from Information and Computer Engineering course at UniTn."
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="h-full">
    <div class="flex h-full flex-col">
      <header class="flex bg-gray-900 p-4">
        <img src="/favicon.svg" alt="ice block" class="h-10" />
        <h1 class="my-auto h-fit">ICE Notes</h1>
        <div class="flex-auto">
          {pagePath && <p>{pagePath}</p>}
        </div>

        <nav class="my-auto">
          <ul><li><a href="/">Home</a></li></ul>
        </nav>
      </header>
      <main class="flex-auto p-4">
        <slot name="main" />
      </main>
      <footer class="flex flex-col items-center bg-gray-900 p-4 text-gray-500">
        <p>Davide Zarantonello</p>
        <p>Last Update: {date.toISOString()}</p>
        <p>Version: {version}</p>
      </footer>
    </div>
  </body>
</html>
